<main class="index">
 <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class=" hola mb-1">
        Links Favoritos
            </h1>
            <h3 class=" hola mb-5">
                <em> Store your Favoritos Links</em>
            </h3>
            <a href="signin" class="btn btn-primary">
                Vamos Jarry.. Al infinito y mas Alla
            </a>
        </div>

 </header>
</main>